// Font Weights
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

// Colors
$grey1: #f5f5f5;
$grey2: #666;
$grey3: #333;
$grey4: #999;
$white: #fff;
$black: #000;

// Shadows
$primary-box-shadow: 0px 2px 6px #0000001a;
